body {
  background: #fff url(bg.jpg) no-repeat;
  background-size: cover;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

main {
  width: 800px;
  position: absolute;
  bottom: 100px;
  left: 100px;
  background: rgba(0,0,0,0.85);
  color: #fff;
  padding: 50px;
  border-radius: 4px;
  box-shadow: 3px 3px 15px 1px #000;
}

#time_on_skates {
  width: 600px;
}

#range_hours {
  display: inline-block;
  width: 32px;
  font-size: 24px;
  margin-left: 15px;
}

#results {
  font-size: 32px;
}
