body {
  background: #fff;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
}

main {
  width: 800px;
  position: absolute;
  bottom: 100px;
  left: 100px;
  background: rgba(0,0,0,0.85);
  color: #fff;
  padding: 50px;
}

#time_on_skates {
  width: 600px;
}

#range_hours {
  display: inline-block;
  width: 64px;
  font-size: 24px;
}

#results {
  font-size: 32px;
}
